@font-face {
    font-family: "Artegra Sans";
    src: url("./font/artegrasoft.woff") format("woff"),
    url("./font/artegrasoft.woff") format("woff");

}
@font-face {

    font-family: "Hind Guntur";
    src: url("./font/hindguntur-bold.woff") format("woff"),
    url("./font/hindguntur-bold.woff") format("woff");

}


/* noinspection CssNoGenericFontName*/
html{
    font-size: 18px;
    font-family: "Artegra Sans";
    font-weight: lighter;
}
header{
    background: radial-gradient(circle at 0%, #ffd6cb, #ffc6d3 10%, #f4c8e5 20%, #e4daf0 22%, #DDE8F9 25%, white 30%);
}
/* noinspection CssNoGenericFontName*/
h1{
    font-size: 48px;
    font-family: "Hind Guntur";
}
/* noinspection CssNoGenericFontName*/
h2{
    font-family: "Hind Guntur";
    font-size: 40px;
    color: #241D6F;
}
p.experience__year{
    font-size: 16px;
    color: #9D9D9D;
}
p.experience__year span{
    font-size: 20px;
    color: #FF45A1;
}

ul{
    list-style-type: none;
}

a.experience__link {
    text-decoration: none;
}
.experience__link img {
    width: 200px;
    height: auto;
}

.hidden{
    position: absolute;
    left: -999px;
}
nav a{
    text-decoration: none;
    color: black;
}
nav a.navigation:hover,nav a.navigation:focus {
    color: #ff45a1;
}

a.btn__contact{
    color: #FF45A1;
    background-color: #FFDDEE;
    border-radius: 20px;
    padding: 10px 15px;
}
nav a.btn__contact:hover, nav a.btn__contact:focus{
    background-color: #ff45a1;
    color: #FFDDEE;
    border: solid 2px #FFDDEE ;
}

/*--barre de recherche --*/
input{
    min-width: 250px;
    color: #bababa;
    border: solid 0.5px #bababa;
    border-radius: 20px;
    padding: 10px 35px;

}
.input__container{
    width: 100%;
    margin-bottom: 10px;

}
.input__container i{
    color: #bababa;
    position: absolute;
    padding-top: 18px;
    padding-left: 15px;

}
/*-- competence card --*/
#myUL{
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    column-gap: 10px;

}

li.competence__card div{
    box-sizing: border-box;
    background-color: #ff45a1;
    min-width: 180px;
    color: white;
    text-align: center;
    padding-top: 60px;
    margin-bottom: 20px;
    border-radius: 20px;
    padding-bottom: 30px;

}

li.competence__card div span{
    font-size: 26px;

}
li.competence__card div p{
    padding-top: 60px;
    padding-bottom: 40px;
}
li.competence__card div a{
    color: white;
    text-decoration: none;
    border-radius: 20px;
    background-color: rgba(246, 246, 246, 0.35);
    padding: 10px 15px;

}

/* -- contact-- */

.subtitle__contact{
    font-size: 18px;
    color: #ff45a1;
}
a.btn__contact__section{
    background-color: #5652CF;
    color: white;
    text-decoration: none;
}

a.btn__contact__section:hover, a.btn__contact__section:focus{
    background-color: white;
    color: #5652CF;
    border: solid 2px #5652CF;
}

/*-- experience --*/

section.experience{
    background-color: #242a3c;

}
.experience h2{
    color: #ff45a1;
}
.experience p{
    color: white;

}
.experience a.portfolio{
    background-color: #ff45a1;
    color: #FFDDEE;
    text-decoration: none;
    border-radius: 20px;
    padding: 10px 15px;
}
.experience a.portfolio:hover,.experience a.portfolio:focus{
    color: #ff45a1 ;
    background-color: #FFDDEE;
    border: solid 2px #ff45a1 ;
}
.experience__link div{
    overflow: hidden;
    background-color: white;
    border-radius: 20px;
    width: 200px;
    min-height: 380px;


}
.experience > div{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.experience__link div img{
   height: 200px;
    width: auto;
}
.experience__link h3{
    color: #242a3c;
    padding-top: 16px;
    padding-left: 10px;
}
.experience__link p{
    color: black;
    padding-top: 8px;
    padding-left: 10px;

}
.experience__link p.tags{
    color: #ffc566;
    padding-left: 10px;
    padding-bottom: 16px;


}


/*1.utiliser object position pour position limage (la partie qui sera visible quand elle ssera tronquer
2. utiliser max-width 100%
pas oublier le height auto*/

@media (max-width: 640px) {

    header{
        background: radial-gradient(circle at 0%, #ffd6cb, #ffc6d3 30%, #f4c8e5 40%, #e4daf0 42%, #DDE8F9 45%, white 50%);/*
        background: linear-gradient(to bottom right ,#ffd6cb, #ffc6d3 20%, #f4c8e5 30%, #e4daf0 32%, #DDE8F9 35%, white 40%);*/
    }
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 26px;
    }
    svg{
        height: 50px;
        width: auto;
    }


}


/*

#myInput {
    font-size: 16px; !* Increase font-size *!
    padding: 12px 20px 12px 40px; !* Add some padding *!
    border: 1px solid #ddd; !* Add a grey border *!
    margin-bottom: 12px; !* Add some space below the input *!
}

#myUL {
    !* Remove default list styling *!
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#myUL li a {
    border: 1px solid #ddd; !* Add a border to all links *!
    margin-top: -1px; !* Prevent double borders *!
    background-color: #f6f6f6; !* Grey background color *!
    padding: 12px; !* Add some padding *!
    text-decoration: none; !* Remove default text underline *!
    font-size: 18px; !* Increase the font-size *!
    color: black; !* Add a black text color *!
    display: block; !* Make it into a block element to fill the whole list *!
}

#myUL li a:hover:not(.header) {
    background-color: #eee; !* Add a hover effect to all links, except for headers *!
}*/
